<footer class="footer">
  <article class='footer-content-container'>
      <p class='signature'>©2015 Pete M McCarthy</p>
    </article>
  <!-- <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small> -->
  <nav>
    <ul>
      <li>This is a test from _footer</li>
    </ul>
  </nav>
</footer>