<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "www.petemmccarthy.com", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to 'Blog', controller: 'articles' %></li>
        <li>This is a test from _header</li>
        <a href='#work' id='menuitem-profile'>Profile</a>
        <a href='#contact' id='menuitem-contact'>Contact</a>
      </ul>
    </nav>
  </div>
</header>